.img {
  height: 700px;
  width: 800px;
}
.article {
  position: relative;
  display: inline-block;
}

.title {
  color: white;
  font-size: 80px;
  position: absolute;
  margin-top: -130px;
  margin-left: 20px;
  font-family: "Lato", sans-serif; /* Usa la fuente importada */
  text-shadow: 7px 2px 4px rgba(125, 125, 125, 0.5);
}
