.img {
  height: 1000px;
  width: 1100px;
}
.article {
  position: relative;
  display: inline-block;
}

.title {
  color: white;
  font-size: 130px;
  position: absolute;
  margin-top: -140px;
  margin-left: 45px;
  font-family: "Lato", sans-serif; /* Usa la fuente importada */
  text-shadow: 7px 2px 4px rgba(125, 125, 125, 0.5);
}
