.containerOrder {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.containerOrderChild {
  display: flex;
  flex-flow: row;
  gap: 10px;
}
.total {
  display: flex;
}
.icon {
  height: 20px;
  width: 20px;
}
.totalOrder {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}
